body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3a5789;
}

.stopwatch {
    background: #9f8647;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    width: 300px;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
    color: #832741;
}

.controls {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#start {
    background-color: #514a5f;
    color: #386b85;
}

#start:hover {
    background-color: #28a796;
}

#pause {
    background-color: #7b252a;
    color: #fff;
    display: none;
}

#pause:hover {
    background-color: #63008a;
}

#reset {
    background-color: #70cb1b;
    color: #4a3876;
}

#reset:hover {
    background-color: #15cf53;
}

#lap {
    background-color: #00e1ff;
    color: #35537e;
}

#lap:hover {
    background-color: #00e1ff;
}

#laps {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    max-height: 150px;
    overflow-y: auto;
}

#laps li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

#laps li:last-child {
    border-bottom: none;
}
